<footer class="footer text-center text-white">
  <div class="container p-4">
    <section class="mb-4 buttons">
      <a
        target="_blank"
        class="btn btn-outline-light btn-floating m-1"
        href="https://github.com/eIliadis93"
        role="button"
        ><img src="assets/svg/ic-github-logo.svg"
      /></a>
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="mailto:e.iliadis@mc-class.gr"
        role="button"
        ><img src="assets/svg/mail.svg"
      /></a>
    </section>
    <section class="mb-4">
      <p>
        Nation Project created for Qualco
        <a
          href="https://github.com/eIliadis93/blockchain-portal"
          target="_blank"
          >Project Repository
        </a>
      </p>
    </section>
  </div>
</footer>